body {
    padding-left: 25%;
    padding-right: 25%;
    background: rgb(112, 111, 111)
}

@media only screen and (max-width: 60em) { 

    body {
        padding-left: 0rem;
        padding-right: 0rem;
    }		
}
.recipe {
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    background-color: rgb(161, 159, 159);
    box-shadow: -10px 5px 25px
}

.recipe-image {
    float: left;
    padding: 0.5em 0em 0.5em 0.5em;
}

.recipe-title {
    text-align: left;
    font-size: 2em;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.recipe-ingredients {
    border-style: solid;
    text-align: left;
    margin-top: 20px;
    padding-left: 2em;
    margin-right: 2em;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.header {
    padding-left: 0.75em;
}