body {
    padding-left: 25%;
    padding-right: 25%;
}

@media only screen and (max-width: 60em) { 

    body {
        padding-left: 0rem;
        padding-right: 0rem;
    }
				
}
.recipe {
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
}

.recipe-image {
    float: left;
    padding: 0.5em 0em 0.5em 4em;
    
}

.recipe-title {
    text-align: center;
    font-size: 2em;
    margin: auto;
}

.recipe-ingredients {
    border-style: dotted;
    text-align: center;
    margin-top: 20px;
}

div {
    border-style: dotted;
}

h1 {
    text-align: center;
    font-size: 3em;
}